.message {
  border: 1px solid #777;
  padding: 7px;
  margin: 5px;
}

.output-empty {
  padding: 7px;
  margin: 5px;
  color: rgb(255, 104, 34);
}

.output {
  padding: 7px;
  margin: 5px;
  color: rgb(27, 189, 27);
}

.process-button {
  border: 1px solid #777;
  background-color: #555;
  color: white;
  padding:15px;
}

.process-button:hover{
    background-color: #999;
    cursor:pointer;
}